.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(218, 218, 214);
}


#img {
    background-color: white;
    height: 50%;
    width: 50%;
}