.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}


#img {
    background-color: white;
    height: 50%;
    width: 50%;
}

.flex-item {
    padding: 30px;
}

#signup {
    padding: 30px;
    background-color: #f2f2f2;
}